@model Alan

<h2>Alan Ekle</h2>
<hr>
<form asp-controller="Alan" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="AlanId" class="form-label"> Ad:</label>
        <input asp-for="AlanId" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="AlanAdı" class="form-label">Alan:</label>
        <input asp-for="AlanAdı" class="form-control">
    </div>
    <button type="submit" class=" btn btn-primary">Kaydet</button>
</form>