@model IEnumerable<Alan>

<h2>Alanlar</h2>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 150px;">@Html.DisplayNameFor(m => m.AlanId)</th>
            <th>@Html.DisplayNameFor(m => m.AlanAdı)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.AlanId)</td>
                <td>@Html.DisplayFor(modelItem => item.AlanAdı)</td>
                <td>
                    <a href="" class="btn btn -sm btn-primary"> Details</a>
                    <a href="" class="btn btn -sm btn-danger"> Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>