
@{
    ViewData["Title"] = "Tıbbi Birimler";
}

<h2>@ViewData["Title"]</h2>
<p>İşte hastanenin tıbbi birimleriyle ilgili bilgiler...</p>
<!-- İhtiyaca göre tıbbi birimlerin listesi buraya eklenebilir -->
e