@model Doktor


<h2>Doktor Güncelleme</h2>
<hr>
<form asp-controller="Doktorlar" asp-action="Edit" method="post">
    <input type="hidden" asp-for="DoktorId">

    <div class="mb-3">
        <label asp-for="DoktorAdi" class="form-label"> Ad:</label>
        <input asp-for="DoktorAdi" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="DoktorSoyadi" class="form-label">Soyadi:</label>
        <input asp-for="DoktorSoyadi" class="form-control">
    </div>

    <button type="submit" class=" btn btn-primary">Kaydet</button>


</form>