<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - hastane_otomasyon_2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/hastane_otomasyon_2.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header>
            <div class="row mt-3">
                <div class="col-6">
                    <img src="~/images/hospitalogo.jpg" alt="Hastane Logo" class="img-fluid" style="max-height: 100px;" />
                    <h2 class="mt-2">Özel Sakarya Hastanesi</h2>
                </div>
                <div class="col-6 text-right">
                    <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Login">Giriş</a>
                    <a class="btn btn-success ml-2" asp-area="" asp-controller="Account" asp-action="Register">Üye Ol</a>
                </div>
            </div>

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <!-- Navbardaki diğer kodlar burada -->
            </nav>
        </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - hastane_otomasyon_2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
