@{
    ViewData["Title"] = "Doktorlarımız";
}

<div class="container my-4">
    <h1 class="display-4 text-center mb-4">Doktorlarımız</h1>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="doktor1.jpg" class="card-img-top" alt="Doktor Adı">
                <div class="card-body">
                    <h5 class="card-title">Dr. İsim Soyisim</h5>
                    <p class="card-text">Uzmanlık Alanı: Dahiliye</p>
                    <p class="card-text">İletişim: doktor1@mail.com</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="doktor2.jpg" class="card-img-top" alt="Doktor Adı">
                <div class="card-body">
                    <h5 class="card-title">Dr. İsim Soyisim</h5>
                    <p class="card-text">Uzmanlık Alanı: Göz Hastalıkları</p>
                    <p class="card-text">İletişim: doktor2@mail.com</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="doktor3.jpg" class="card-img-top" alt="Doktor Adı">
                <div class="card-body">
                    <h5 class="card-title">Dr. İsim Soyisim</h5>
                    <p class="card-text">Uzmanlık Alanı: Cerrahi</p>
                    <p class="card-text">İletişim: doktor3@mail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
