@{
    ViewData["Title"] = "Ana Sayfa";
}
<div class="container my-4 text-center">
    <img id="HastaneResmi" class="img-fluid rounded-3" src="~/images/HastaneResmi.jpg" alt="SanalKlinikResmi" style="max-width: 900px; max-height: 500px;" />

    <h1 class="display-4 text-dark">
        Sanal Klinik Hastanesi'ne Hoş Geldiniz !
    </h1>

    <p class="lead text-muted">
        Sanal Klinik Hastanesi, uzman kadrosu ve modern tıp teknolojisiyle sağlık hizmeti sunan bir kuruluştur. Müşteri memnuniyetini ön planda tutan ve hastalarına en üst düzeyde kaliteli sağlık hizmeti sunmayı amaçlayan hastanemiz, hasta odaklı yaklaşımıyla bilinmektedir.
    </p>

    <h2 class="h4 text-primary mt-4 mb-2">
        Hastanemizde Neler Bulabilirsiniz?
    </h2>

    <ul class="list-unstyled text-muted">
        <li><strong>Uzman Doktorlar:</strong> Deneyimli ve alanında uzman doktorlarımızla hastalarımıza en iyi tedaviyi sunuyoruz. Her bir doktorumuz, hasta odaklı yaklaşımıyla bilinir ve hasta sağlığını her şeyin önünde tutar.</li>
        <li><strong>Tıbbi Birimler:</strong> Sanal Klinik Hastanesi, çeşitli tıbbi birimlerle donatılmıştır. Her bir birim, hastaların ihtiyaçlarına uygun olarak tasarlanmıştır.</li>
        <li><strong>Modern Donanım ve Teknoloji:</strong> Hastanemiz, çağdaş tıbbi teknolojiyi kullanarak tanı ve tedavi süreçlerini en üst düzeye çıkarmayı hedefler. Güncel teknolojiye sahip donanımımız, hastalarımıza doğru teşhis ve etkili tedavi imkanı sunar.</li>
    </ul>

    <h2 class="h4 text-primary mt-4 mb-2">
        Randevu Almak Çok Kolay!
    </h2>

    <p class="lead text-muted">
        Sanal Klinik Hastanesi olarak hasta memnuniyetini ön planda tutuyor ve hastalarımız için randevu alma sürecini kolaylaştırıyoruz. Online randevu sistemimiz sayesinde, istediğiniz doktordan veya tıbbi birimden randevu alabilirsiniz. Hızlı ve kullanıcı dostu ara yüzümüzle sağlık hizmetlerine erişim daha önce hiç olmadığı kadar kolay.
    </p>

    <h2 class="h4 text-primary mt-4 mb-2">
        Hastane Otomasyonu ile Hizmetinizdeyiz!
    </h2>

    <p class="lead text-muted">
        Sanal Klinik Hastanesi, modern hastane otomasyon sistemleriyle çalışarak hasta ve doktorlar arasındaki etkileşimi hızlandırır ve verimliliği artırır. Siz de hastane otomasyonu sayesinde randevu alabilir, tıbbi birimlere ulaşabilir ve sağlık durumunuzla ilgili bilgilerinizi takip edebilirsiniz.
    </p>

    <p class="lead">
        Sağlık konusunda en iyisini hak ediyorsunuz ve Sanal Klinik Hastanesi olarak bu hedefe ulaşmanıza yardımcı olmak için buradayız. Sağlığınıza değer veriyoruz ve size en iyi sağlık hizmetini sunabilmek için çalışıyoruz.
    </p>
</div>
