@{
    ViewData["Title"] = "Ana Sayfa";
}
<div class="container my-4 text-center">

    <img id="HastaneResmi" class="img-fluid rounded-3" src="~/img/HastaneResmi.jpg" alt="SanalKlinikResmi" /> />


    <h1 class="display-4">Welcome</h1>
</div>
</>
